@{
    ViewData["Title"] = "Entry Status";
}
@model mission06_juandm.Models.ApplicationResponse

<h2>Thank you for your entry! <br /> "@Model.Title", has been successfully added to our movie list!</h2>