@{
    ViewData["Title"] = "Bacon Sale";
}

<h1>@ViewData["Title"]</h1>


<div class="text-center">

    <p>A Hickory-Smoked Pop Culture Podcast. Join us for a fresh take on the film industry.</p>
    <br />

    <br />
    <p>Listen to our <a href="https://baconsale.com/" target="_blank">latest episode!</a></p>
</div>
